docs/n8n-objective-workflow.json
{
  "name": "SEO Agent - Define Objective",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-agent/define-objective",
        "responseMode": "responseNode"
      },
      "id": "objective-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst payload = input.body ?? input.payload ?? input;\n\nreturn [{\n  json: {\n    ...input,\n    payload,\n    job_id: input.job_id ?? payload.job_id ?? payload?.job?.id,\n    project_id: input.project_id ?? payload.project_id ?? payload?.project?.id,\n    user_id: input.user_id ?? payload.user_id ?? payload?.user?.id,\n    diagnosis_id: input.diagnosis_id ?? payload.diagnosis_id ?? payload?.diagnosis?.id,\n    objective_id: input.objective_id ?? payload.objective_id ?? payload?.objective?.id,\n    diagnosis_result: input.diagnosis_result ?? payload.diagnosis_result ?? payload?.diagnosisResult ?? {},\n    objective_input: input.objective_input ?? payload.objective_input ?? payload?.objectiveInput ?? {}\n  }\n}];"
      },
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst rawBody = JSON.stringify(input.body ?? input.payload ?? input);\n\nconst expected = await (async () => {\n  const encoder = new TextEncoder();\n  const secret = $env.N8N_WEBHOOK_SECRET;\n  const key = await globalThis.crypto.subtle.importKey(\n    'raw',\n    encoder.encode(secret),\n    { name: 'HMAC', hash: 'SHA-256' },\n    false,\n    ['sign']\n  );\n  const signatureBuffer = await globalThis.crypto.subtle.sign('HMAC', key, encoder.encode(rawBody));\n  return Array.from(new Uint8Array(signatureBuffer))\n    .map((byte) => byte.toString(16).padStart(2, '0'))\n    .join('');\n})();\n\nif (expected !== input.app_signature) {\n  throw new Error('Invalid app signature');\n}\n\nreturn [{\n  json: {\n    ...input,\n    verified: true\n  }\n}];"
      },
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ job_id: $json.job_id, project_id: $json.project_id, user_id: $json.user_id, diagnosis_id: $json.diagnosis_id, objective_id: $json.objective_id, diagnosis_result: $json.diagnosis_result, objective_input: $json.objective_input }, null, 2) }}",
        "options": {
          "systemMessage": "You are the SEO Agent Objective workflow. Your only job is to define the objective after a diagnosis is already known. Do not re-identify the problem, do not re-run diagnosis logic, and do not mix in Identify workflow logic. Return ONLY valid JSON. Do not wrap the answer in markdown or prose. The JSON must contain these keys: objective_type, smart_objective, business_goal_alignment, input_metrics, output_metrics, outcome_metrics, baseline, target, time_period, achievability_score, achievability_percent, risk_notes, reasoning, next_step, raw_llm_output, model_used. Use a concise objective_type such as mixed, traffic, conversion, authority, content, or technical. Keep target and baseline consistent with the provided diagnosis and objective_input. Keep the output strictly about objective definition and planning."
        },
        "alwaysOutputData": true
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "description": "Use this tool to inspect the objective brief and return a compact planning checklist.",
        "jsCode": "const raw = typeof query === 'string' ? query : JSON.stringify(query ?? {});\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch {\n  parsed = { raw };\n}\n\nreturn JSON.stringify({\n  reminder: 'Make the SMART objective specific, measurable, realistic, and linked to the diagnosis.',\n  time_period: parsed.business_goal?.target_period ?? null,\n  traffic_target: parsed.seo_baseline?.monthly_organic_traffic ?? null,\n  constraint_notes: parsed.constraints ?? {}\n});"
      },
      "id": "seo-code-tool",
      "name": "SEO Context Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1260,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst rawOutput = input.output ?? input.text ?? input.response ?? input.result ?? input;\n\nlet parsed = rawOutput;\nif (typeof rawOutput === 'string') {\n  try {\n    parsed = JSON.parse(rawOutput);\n  } catch {\n    parsed = null;\n  }\n}\n\nif (!parsed || typeof parsed !== 'object') {\n  parsed = {\n    objective_type: 'mixed',\n    smart_objective: typeof rawOutput === 'string' ? rawOutput : 'AI output could not be parsed.',\n    business_goal_alignment: 'Review the AI output and rerun the workflow.',\n    input_metrics: input.objective_input ?? {},\n    output_metrics: {},\n    outcome_metrics: {},\n    baseline: input.objective_input?.seo_baseline ?? {},\n    target: {},\n    time_period: input.objective_input?.business_goal?.target_period ?? null,\n    achievability_score: 'unknown',\n    achievability_percent: 0,\n    risk_notes: ['AI output was not valid JSON'],\n    reasoning: 'The AI response was not valid JSON.',\n    next_step: 'Inspect the AI Agent output and regenerate the objective.',\n    raw_llm_output: rawOutput,\n    model_used: 'n8n-ai-agent'\n  };\n}\n\nreturn [{\n  json: {\n    ...input,\n    objective_result: parsed\n  }\n}];"
      },
      "id": "normalize-ai-result",
      "name": "Normalize Objective Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst objectiveResult = input.objective_result ?? {};\nconst now = new Date().toISOString();\n\nconst supabaseObjectivePayload = {\n  objective_type: objectiveResult.objective_type,\n  smart_objective: objectiveResult.smart_objective,\n  business_goal_alignment: objectiveResult.business_goal_alignment ?? null,\n  input_metrics: objectiveResult.input_metrics ?? {},\n  output_metrics: objectiveResult.output_metrics ?? {},\n  outcome_metrics: objectiveResult.outcome_metrics ?? {},\n  baseline: objectiveResult.baseline ?? {},\n  target: objectiveResult.target ?? {},\n  time_period: objectiveResult.time_period ?? null,\n  achievability_score: objectiveResult.achievability_score ?? null,\n  achievability_percent: objectiveResult.achievability_percent ?? null,\n  risk_notes: objectiveResult.risk_notes ?? [],\n  reasoning: objectiveResult.reasoning ?? null,\n  next_step: objectiveResult.next_step ?? null,\n  raw_llm_output: objectiveResult.raw_llm_output ?? {},\n  model_used: objectiveResult.model_used,\n  status: 'completed',\n  completed_at: now\n};\n\nconst supabaseJobPayload = {\n  status: 'completed',\n  response_payload: objectiveResult,\n  completed_at: now\n};\n\nconst supabaseUsageEventPayload = {\n  user_id: input.user_id,\n  event_type: 'objective_generated',\n  metadata: {\n    jobId: input.job_id,\n    projectId: input.project_id,\n    objectiveId: input.objective_id,\n    source: 'n8n-objective-workflow'\n  }\n};\n\nreturn [{\n  json: {\n    ...input,\n    supabase_objective_payload: supabaseObjectivePayload,\n    supabase_job_payload: supabaseJobPayload,\n    supabase_usage_event_payload: supabaseUsageEventPayload\n  }\n}];"
      },
      "id": "prepare-supabase-payload",
      "name": "Prepare Supabase Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/seo_objectives?id=eq.{{$json.objective_id}}",
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabase_objective_payload }}"
      },
      "id": "update-objective-supabase",
      "name": "Update Objective in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/jobs?id=eq.{{$json.job_id}}",
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabase_job_payload }}"
      },
      "id": "update-job-supabase",
      "name": "Update Job in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/usage_events",
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabase_usage_event_payload }}"
      },
      "id": "insert-usage-event",
      "name": "Insert Usage Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2280,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  stored: true,\n  job_id: $json.job_id,\n  project_id: $json.project_id,\n  objective_id: $json.objective_id\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2520,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SEO Context Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalize Objective Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Objective Result": {
      "main": [
        [
          {
            "node": "Prepare Supabase Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Payload": {
      "main": [
        [
          {
            "node": "Update Objective in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Objective in Supabase": {
      "main": [
        [
          {
            "node": "Update Job in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job in Supabase": {
      "main": [
        [
          {
            "node": "Insert Usage Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Usage Event": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2"
}
