docs/n8n-identify-workflow.json
{
  "name": "SEO Agent - Identify Problem",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-agent/identify-problem",
        "responseMode": "responseNode"
      },
      "id": "identify-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst payload = input.body ?? input.payload ?? input;\nconst appSignature = input.headers?.['x-app-signature'] ?? null;\n\nreturn [{\n  json: {\n    ...input,\n    payload,\n    app_signature: appSignature,\n    job_id: input.job_id ?? payload.job_id ?? payload?.job?.id,\n    project_id: input.project_id ?? payload.project_id ?? payload?.project?.id,\n    user_id: input.user_id ?? payload.user_id ?? payload?.user?.id,\n    diagnosis_id: input.diagnosis_id ?? payload.diagnosis_id ?? payload?.diagnosis?.id,\n    identify_drafts: input.identify_drafts ?? payload.identify_drafts ?? payload?.identify?.drafts ?? [],\n    identify_merged: input.identify_merged ?? payload.identify_merged ?? payload?.identify?.merged ?? {}\n  }\n}];"
      },
      "id": "normalize-payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst rawBody = JSON.stringify(input.body ?? input.payload ?? input);\n\nconst expected = await (async () => {\n  const encoder = new TextEncoder();\n  const secret = $env.N8N_WEBHOOK_SECRET;\n  const key = await globalThis.crypto.subtle.importKey(\n    'raw',\n    encoder.encode(secret),\n    { name: 'HMAC', hash: 'SHA-256' },\n    false,\n    ['sign']\n  );\n  const signatureBuffer = await globalThis.crypto.subtle.sign('HMAC', key, encoder.encode(rawBody));\n  return Array.from(new Uint8Array(signatureBuffer))\n    .map((byte) => byte.toString(16).padStart(2, '0'))\n    .join('');\n})();\n\nif (expected !== input.app_signature) {\n  throw new Error('Invalid app signature');\n}\n\nreturn [{\n  json: {\n    ...input,\n    verified: true\n  }\n}];"
      },
      "id": "verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify({ job_id: $json.job_id, project_id: $json.project_id, user_id: $json.user_id, diagnosis_id: $json.diagnosis_id, identify_drafts: $json.identify_drafts, identify_merged: $json.identify_merged }, null, 2) }}",
        "options": {
          "systemMessage": "You are the SEO Agent Identify workflow. Your only job is to identify the problem in the current website brief. Do not write an objective, do not plan execution, and do not mix in Objective workflow logic. Return ONLY valid JSON. Do not wrap the answer in markdown or prose. The JSON must contain these keys: primary_problem_type, secondary_problem_type, severity, confidence_score, diagnosis_summary, root_cause, evidence, business_impact, campaign_readiness, recommended_next_step, objective_direction, not_recommended_actions, warnings, raw_llm_output, model_used. Use one of these primary_problem_type values: qualified_traffic, technical, authority, content, mixed, unknown. Use one of these severity values: low, medium, high, critical. Keep evidence as an array of objects with label and value. Keep business_impact as an object with summary and metrics. Keep the output strictly about identification and diagnosis."
        },
        "alwaysOutputData": true
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "description": "Use this tool to inspect the normalized SEO brief and return a compact JSON checklist.",
        "jsCode": "const raw = typeof query === 'string' ? query : JSON.stringify(query ?? {});\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch {\n  parsed = { raw };\n}\n\nreturn JSON.stringify({\n  reminder: 'Analyze intent match, crawlability, content depth, and internal links.',\n  focus: parsed.main_seo_concern ?? null,\n  trend: parsed.organic_traffic_trend ?? null,\n  stage: parsed.website_stage ?? null,\n  indexed_by_google: parsed.indexed_by_google ?? null\n});"
      },
      "id": "seo-code-tool",
      "name": "SEO Context Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1260,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst rawOutput = input.output ?? input.text ?? input.response ?? input.result ?? input;\n\nlet parsed = rawOutput;\nif (typeof rawOutput === 'string') {\n  try {\n    parsed = JSON.parse(rawOutput);\n  } catch {\n    parsed = null;\n  }\n}\n\nif (!parsed || typeof parsed !== 'object') {\n  parsed = {\n    primary_problem_type: 'unknown',\n    secondary_problem_type: null,\n    severity: 'medium',\n    confidence_score: 50,\n    diagnosis_summary: typeof rawOutput === 'string' ? rawOutput : 'AI output could not be parsed.',\n    root_cause: 'The AI response was not valid JSON.',\n    evidence: [],\n    business_impact: {\n      summary: 'Review the AI output and rerun the workflow.',\n      metrics: []\n    },\n    campaign_readiness: 'needs_review',\n    recommended_next_step: 'Inspect the AI Agent output and regenerate the diagnosis.',\n    objective_direction: 'unknown',\n    not_recommended_actions: [],\n    warnings: ['AI output was not valid JSON'],\n    raw_llm_output: rawOutput,\n    model_used: 'n8n-ai-agent'\n  };\n}\n\nreturn [{\n  json: {\n    ...input,\n    diagnosis_result: parsed\n  }\n}];"
      },
      "id": "normalize-ai-result",
      "name": "Normalize Diagnosis Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst diagnosisResult = input.diagnosis_result ?? {};\nconst now = new Date().toISOString();\n\nconst supabaseDiagnosisPayload = {\n  primary_problem_type: diagnosisResult.primary_problem_type,\n  secondary_problem_type: diagnosisResult.secondary_problem_type ?? null,\n  severity: diagnosisResult.severity,\n  confidence_score: diagnosisResult.confidence_score,\n  diagnosis_summary: diagnosisResult.diagnosis_summary,\n  root_cause: diagnosisResult.root_cause,\n  evidence: diagnosisResult.evidence ?? [],\n  business_impact: diagnosisResult.business_impact ?? {},\n  campaign_readiness: diagnosisResult.campaign_readiness,\n  recommended_next_step: diagnosisResult.recommended_next_step,\n  objective_direction: diagnosisResult.objective_direction,\n  not_recommended_actions: diagnosisResult.not_recommended_actions ?? [],\n  warnings: diagnosisResult.warnings ?? [],\n  raw_llm_output: diagnosisResult.raw_llm_output ?? {},\n  model_used: diagnosisResult.model_used,\n  status: 'completed',\n  completed_at: now\n};\n\nconst supabaseJobPayload = {\n  status: 'completed',\n  response_payload: diagnosisResult,\n  completed_at: now\n};\n\nconst supabaseUsageEventPayload = {\n  user_id: input.user_id,\n  event_type: 'diagnosis_run',\n  metadata: {\n    jobId: input.job_id,\n    projectId: input.project_id,\n    diagnosisId: input.diagnosis_id,\n    source: 'n8n-identify-workflow'\n  }\n};\n\nreturn [{\n  json: {\n    ...input,\n    supabase_diagnosis_payload: supabaseDiagnosisPayload,\n    supabase_job_payload: supabaseJobPayload,\n    supabase_usage_event_payload: supabaseUsageEventPayload\n  }\n}];"
      },
      "id": "prepare-supabase-payload",
      "name": "Prepare Supabase Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/seo_diagnoses?id=eq.{{$json.diagnosis_id}}",
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabase_diagnosis_payload }}"
      },
      "id": "update-diagnosis-supabase",
      "name": "Update Diagnosis in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/jobs?id=eq.{{$json.job_id}}",
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabase_job_payload }}"
      },
      "id": "update-job-supabase",
      "name": "Update Job in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2040,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/usage_events",
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabase_usage_event_payload }}"
      },
      "id": "insert-usage-event",
      "name": "Insert Usage Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2280,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  ok: true,\n  stored: true,\n  job_id: $json.job_id,\n  project_id: $json.project_id,\n  diagnosis_id: $json.diagnosis_id\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2520,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SEO Context Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalize Diagnosis Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Diagnosis Result": {
      "main": [
        [
          {
            "node": "Prepare Supabase Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Payload": {
      "main": [
        [
          {
            "node": "Update Diagnosis in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Diagnosis in Supabase": {
      "main": [
        [
          {
            "node": "Update Job in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job in Supabase": {
      "main": [
        [
          {
            "node": "Insert Usage Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Usage Event": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2"
}
